<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>mush_shak - eBay listing template</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Web Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">

    <!-- CSS -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/template/css/reset.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/template/css/genericons.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/template/css/color-monoblue.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/template/css/style.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/template/css/normalize.css">
    <!--
        <link rel="stylesheet" href="css/color-greenlove.css">
        <link rel="stylesheet" href="css/color-hearty.css">
        <link rel="stylesheet" href="css/color-monoblue.css">
        <link rel="stylesheet" href="css/color-redgriff.css">
        <link rel="stylesheet" href="css/color-dreamy.css">
    -->


    <style type="text/css">

        .buynow {
            text-align: center;
            margin-top: 40px;
        }

        .buynow a {
            display: inline-block;
            margin: 0 auto;
            width: 150px;
            background-color: #0c74a9;
            color: #fff;
            padding: 10px;
            border-radius: 20px;
            transition: all 0.25s ease-in-out 0s;
            -webkit-transition: all 0.25s ease-in-out 0s;
               -moz-transition: all 0.25s ease-in-out 0s;
                -ms-transition: all 0.25s ease-in-out 0s;
                 -o-transition: all 0.25s ease-in-out 0s;
        }
        .buynow a:hover {
            background-color: #333;
        }

        .logo-text {
            font-family: 'Josefin Sans', serif;
            font-size: 100px;
            text-align: center;
        }

    </style>

</head>
<body>


    <!-- Page Header Section
    ================================================== -->
    <div id="header">

        <div class="container clearfix">

            <div id="branding" class="row">
                <h1 class="logo-text">mush_shak</h1>
                <p class="tagline">Tech at your fingertips</p>
            </div><!-- #branding -->

            <div id="listing-title" class="row">
            	<h2>USB Type C Cable Fast Charge Data Sync (Samsung S8, HTC 10, HTC U Ultra, OnePlus, Nexus, Lumia, LG G5)</h2>
            </div><!-- #listing-title -->

            <div id="listing-desc">
            	<p>A stylish and durable Type C data/charging cable which feels premium. It's compatible with all Type C supported phones and features fast charging. Comes in various colours to match your taste.</p>

    			<h5>What you get:</h5>

				<ul>
					<li>1USB Type C cable - 1 meter</li>
				</ul>

                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo1.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo2.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo3.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo4.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo5.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo6.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo7.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo8.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo9.jpg' />
                <img src='https://raw.githubusercontent.com/aqibmushtaq/ebay/master/cables/suptec-typec/photos/photo10.jpg' />


            </div><!-- #listing-desc -->

            <div id="payment" class="row">
                <h2>Payment</h2>
                <p>Payment by PayPal only</p>
            </div><!-- #payment -->

            <div id="postage" class="row">
                <h2>Postage</h2>
            	<ul>
            		<li>All items are sent out with Royal Mail from our Ilford warehouse.</li>
            		<li>All items are dispatched next day</li>
            		<li>We use Royal Mail 1st class to send all items. Please allow upto 7 days for delivery. Other postage options are available at checkout.</li>
            		<li>Overseas items are sent via airmail. Most small value items are sent without tracking however tracking is offered on all listings. If you require tracking please add this at checkout.</li>
            		<li>Once your item as been dispatched you will receive an automated email confirmation note.</li>
            	</ul>
            </div><!-- #postage -->

            <div id="tc" class="row">
                <h2>Terms and Conditions</h2>
                <h3>Money Back Guarantee</h3>
                <p>If for any reason your item(s), components, case or any products you receive do not match the items described in the ebay item description you may return the item for replacement or a refund within 14 days from the date on the receipt. Please keep this as evidence of receipt. Return shipping charges will be refunded if we are at fault. All returned items must be in original packaging and include all extras and original documentation. All unwanted items returned without fault original postage costs.</p>
            	<h3>Items Not Received / Lost</h3>
            	<h4>UK Customers</h4>
            	<ul>
            		<li>Whilst all items are dispatched daily via Royal Mail 1st class business post and most buyers receive their items within a few days, this isn’t a next day delivery service and your item may take longer to be delivered. Sometimes upto 7 days.</li>
            		<li>Please be aware, as a UK business we are bound by Royal Mail’s rules and regulations regarding missing/lost items. These regulations state that we cannot investigate a lost item claim until after the 15th working day from the date of dispatch. We would kindly appreciate your co-operation in this instance.</li>
            		<li>Please do not ask us to investigate a lost item until after the 15th working day.</li>
            		<li>Please do not ask us for recorded tracking information if you didn’t add this at checkout.</li>
            	</ul>
            	<h4>Overseas Customers</h4>
            	<ul>
            		<li>All overseas items are dispatched daily via Royal Mail airmail and delivery times can vary greatly. </li>
            		<li>We kindly ask all overseas customers to allow 28 days for delivery.</li>
            		<li>Please be aware, as a uk business we are bound by Royal Mail’s rules and regulations regarding missing/lost items. These regulations state that we cannot investigate an overseas lost item claim until after the 28th day from the date of dispatch. We would kindly appreciate your co-operation in this instance. </li>
            		<li>Please do not ask us to investigate an overseas lost item until 28 days after your dispatch email confirmation.</li>
            		<li>Please do not ask us for tracking information if you didn’t add this at checkout. </li>
            	</ul>
            </div><!-- #tc -->

        </div><!-- container -->

    </div><!-- #header section -->


    <!-- Info Section
    ================================================== -->
    <div id="info">

        <div id="contact" class="container clearfix">

            <h2 class="add-top">Contact Us</h2>
            <p>Feel free to contact us</p>

            <div id="contactinfo">
                <ul class="clearfix">
                    <li><span class="genericon genericon-location"></span>Ilford, United Kingdom</li>
                </ul>
            </div>

        </div><!-- #contact container -->


    </div><!-- #connect section -->


    <!-- Colophon + Copyright Section
    ================================================== -->
    <div id="colophon">
        <div class="container clearfix">
            <div class="copyright row">
                <p>&copy; 2017 mush_shak</p>
            </div><!-- copyright -->
        </div><!-- container -->
    </div><!-- #connect section -->


<!-- End Document -->
</body>
</html>
